*{
    font-family: "Inter";
    font-weight: 900;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #EAF2EF;
} 

.napis{
    display: block;
    justify-self: center;
    /* float: left; */
    font-weight: 900;

}

.par{
    margin-top: 40px;
    display: block;
    justify-self: center;
    font-size: 250%;
}

.GuessDiv{
    width: 400px;
    /* background-color: #5EB1BF; */
    background-color: #D1D1D1;
    /* border: 10px dashed #042A2B; */
    border: none;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 6px #D1D1D1;
}

.flaga{
    display: block;
    justify-self: center;
    margin: 20px;
    border-radius: 10px;
    height: 200px;
    max-width: 90%;
    max-height: auto;
}

/* .pick{
    border-radius: 4px;
    height: 50%;
    width: 40px;
} */

.btn_left{
    transition: width 1s, height 1s;
    float: left;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 100px;
    height: 55px;
    border: none;
    border-radius: 40px;
}

.btn_left:hover{
    transition: width 1.5s, height 1.5s;
    width: 110px;
    height: 60px;
    cursor: pointer;
}

.btn_right{
    transition: width 1s, height 1s;
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 100px;
    height: 55px;
    border: none;
    border-radius: 40px;
}

.btn_right:hover{
    transition: width 1.5s, height 1.5s;
    width: 110px;
    height: 60px;
    cursor: pointer;
}
#DivPunkty{
    width: 300px;
    height: 200px;
    display:block;
    margin: auto    ;
    /* justify-self: center;
    justify-items:left; */
}

#h2_1{
    display: flex;
    justify-self: center;
}

#Maintxt{
    display: flex;
    justify-self: left;
    margin: 10px;
    font-size: 250%;
}
#DivNaFlagi{
    width: 100vw;
    height: 60%;
    display: flex;
    justify-content: space-around;
}

#BetDiv{
    height: 200px;

}

.wrong{
    background-color: #D7263D;
}

.correct{
    background-color: #49D442;
}
